* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: system-ui;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}

.card {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  color: white;
  margin: 30px 30px;
  padding: 20px;
  min-height: 300px;
  width: 33%;
}

.entry {
  display: flex;
  width: 90%;
  align-items: center;
}

.entry h3,
h4 {
  width: 50%;
  padding: 0px 10px;
}

.entry h4 {
  text-align: center;
}

.card h2 {
  text-decoration: underline;
  padding: 0px 10px;
}

.card iframe {
  width: 100%;
  height: 300px;
}

.card p {
  padding: 0px 10px;
  font-weight: bold;
}

i {
  font-size: 30px;
}

@media only screen and (max-width: 991.98px) {
  .card {
    width: 90%;
  }

  .container {
    flex-direction: column;
  }
}
